*{
    box-sizing: border-box;
}
h2{
    font-size: 30px;
    background-color: orangered;
    height: 150px;
    }
h4{
        text-decoration: underline;
        
    }
p{
        line-height: 20px;
    }
    
.bg-image {
        background-image: url('img1.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh; /* 100% de la hauteur de la fenêtre */
       
         }