*{
    box-sizing: border-box;
}
h1{
    font-size: 30px;
    background-color: orangered;
    height: 150px;
    }
p{
        line-height: 20px;
    }
    
.bg-image {
        background-image: url('img1.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh; /* 100% de la hauteur de la fenêtre */
       
         }
.carousel-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
}
/*grille pour écran large*/
@media(min-width:1024px){
    .container{
        font-size: 16px;
    }
}
/*grille pour petit écran*/
@media(max-width:767px){
    .container{
        font-size: 12px;
    }
}